{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        /***
User Profile Sidebar by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

        body {
            background: #F1F3FA;
        }

        /* Profile container */
        .profile {
            margin: 20px 0;
        }

        /* Profile sidebar */
        .profile-sidebar {
            padding: 20px 0 10px 0;
            background: #fff;
        }

        .profile-userpic img {
            float: none;
            margin: 0 auto;
            width: 50%;
            height: 50%;
            -webkit-border-radius: 50% !important;
            -moz-border-radius: 50% !important;
            border-radius: 50% !important;
        }

        .profile-usertitle {
            text-align: center;
            margin-top: 20px;
        }

        .profile-usertitle-name {
            color: #5a7391;
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 7px;
        }

        .profile-usertitle-job {
            text-transform: uppercase;
            color: #5b9bd1;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        .profile-userbuttons {
            text-align: center;
            margin-top: 10px;
        }

        .profile-userbuttons .btn {
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 600;
            padding: 6px 15px;
            margin-right: 5px;
        }

        .profile-userbuttons .btn:last-child {
            margin-right: 0px;
        }

        .profile-usermenu {
            margin-top: 30px;
        }

        .profile-usermenu ul li {
            border-bottom: 1px solid #f0f4f7;
        }

        .profile-usermenu ul li:last-child {
            border-bottom: none;
        }

        .profile-usermenu ul li a {
            color: #93a3b5;
            font-size: 14px;
            font-weight: 400;
        }

        .profile-usermenu ul li a i {
            margin-right: 8px;
            font-size: 14px;
        }

        .profile-usermenu ul li a:hover {
            background-color: #fafcfd;
            color: #5b9bd1;
        }

        .profile-usermenu ul li.active {
            border-bottom: none;
        }

        .profile-usermenu ul li.active a {
            color: #5b9bd1;
            background-color: #f6f9fb;
            border-left: 2px solid #5b9bd1;
            margin-left: -2px;
        }

        /* Profile Content */
        .profile-content {
            padding: 20px;
            background: #fff;
            min-height: 460px;
        }
    </style>
{% endblock %}
{% block body %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>

    <![endif]-->
</head>



<!------ Include the above in your HEAD tag ---------->

    <!--
    User Profile Sidebar by @keenthemes
    A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
    Licensed under MIT
    -->
<div class="col-centered " style="background-color: #101010;height:auto;" align="center">
    <span  style="color: #ffffff;font:inherit;vertical-align:baseline">Atención de Lunes a Viernes de 10 a 18 horas (011) 4001-3102 <img src="https://preussenmoney.com/wp-content/uploads/2017/07/ar-1.png"></span> &ensp;
    <a class="badge badge-light"><i class="fas fa-user"></i> {{ user }}</a>
    <a href="{{ path('logout') }}" class="badge badge-light" >Salir <i class="fas fa-sign-out-alt" onclick="{{ path('logout') }}"></i></a>
</div>
<div align="right">

</div>
    <div class="container" style="background-color:#7ec441 ">
        <br>
        <div class="row profile">
            <div class="col-md-3">
                <div class="modal-content">
                    <!-- SIDEBAR USERPIC -->
                    <br>
                    <div class="" align="center">
                        <img  src="{{ asset('yo.jpg') }}" class="img-responsive" alt="" style="border-radius: 50%;max-width: 60%">
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                           {{ user }}
                        </div>

                    </div>

                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->

                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="list-group-item">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('user_index') }}" class="list-group-item list-group-item-action"><i class="fas fa-user"></i>  Usuarios</a>
                        {% endif %}
                        {% if is_granted('ROLE_USUARIO') %}
                        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-suitcase"></i>  Mi Cuenta</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-file-signature"></i>  Datos Personales</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-id-card"></i>  Documentacion</a>
                        <a href="#" class="list-group-item list-group-item-action"><i class="fas fa-question-circle"></i> Ayuda</a>
                        {% endif %}


                    </div>
                    <!-- END MENU -->
                </div>
            </div>
            <div class="col-md-9">
                <div class="modal-content">
                    {% if is_granted('ROLE_USER') %}
                    {% include '@App/Usuario/balance.html.twig' %}
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        {{ render(controller(
                            'AppBundle:User:index'
                        )) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
    </div>

{% endblock %}
